<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>#saunalyfe WatchKit App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>#saunalyfe WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>#saunalyfe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E1458C72426E828002D5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1458DD2426E829002D5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1458E82426E829002D5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1458F12426E829002D5D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
